extends layout

block content
  h1= 'Fog of War'
  p Please upload a map

  form(ref='uploadForm' 
      id='uploadForm' 
      action='http://localhost:8000/upload' 
      method='post' 
      encType="multipart/form-data")
    input(type="file" name="sampleFile" id="imageLoader")
    input(type='submit' value='Upload!')

  canvas(id="map")
  canvas(id="mask")
  canvas(id="playerMap")